
body{
  background-color: rgb(235, 246, 248);
  margin: 14px;
}

img{
  width: 150px;
  border-radius: 5px;
}

.App, .image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  border: 1px solid rgb(151, 179, 184);
  flex-direction: column;
  padding: 8px;
  border-radius: 24px;
}

.image-container{
  max-width: fit-content;
  flex-wrap: wrap;
}

.scores{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(32, 31, 31);
  margin: 14px;
  padding-bottom: 14px;
  border-bottom: 2px solid rgb(151, 179, 184);
}
